<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fy.dailypaper.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.fy.dailypaper.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password
    </sql>
<!--    <insert id="userSave">-->
<!--        insert into user(name , password) values (#{name}, #{password})-->
<!--    </insert>-->

    <select id="selectByName" resultType="com.fy.dailypaper.entity.User">
        select * from user where name = #{name}
    </select>
</mapper>
